<div class="container">
    <h4>Написать новый пост</h4>
    <form action="/newpost" method="POST">
        <div class="mb-3">
            <label class="form-label">Ваше имя</label>
            <input name="username" class="form-control" id="exampleDataList" placeholder="Имя" value="<%= @username %>">
            <label class="form-label">Ваш пост</label>
            <textarea name="newuserpost" class="form-control" id="exampleFormControlTextarea1" rows="15" placeholder="Напишите Ваш пост" value="<%= @newuserpost %>"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>